<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gêneros</title>
        <link rel="stylesheet" href="/stylesheets/admin/genres.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="headerContent">
                    <div class="title">
                        <img src="/images/logo.png" alt="logo">
                        <h1>MovieMania</h1>
                    </div>
        
                    <h2>Dashboard Administrativo</h2>
                </div>

                <div class="headerMenus">
                    <div class="menus">
                        <a href="">Estatísticas</a>
                        <a href="">Usuários</a>
                        <a href="" class="picked">Gêneros</a>
                        <a href="">Filmes</a>
                    </div>

                    <div class="line"></div>
                </div>
            </div>

            <div class="genres">
                <div class="genresTitle">
                    <h2>Gêneros</h2>

                    <a href="/admin/newgender" class="addButton">Novo gênero</a>
                </div>

                <div class="genresTableDiv">
                    <table id="genresTable">
                        <thead>
                            <tr>
                                <th class="genderId">Id</th>
                                <th class="genderName">Nome</th>
                                <th class="moviesAmount">Filmes</th>
                                <th class="action">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% genresWithCount.forEach(gender => { %>
                                <tr>
                                    <td class="firstTd"><%= gender.genderId %></td>
                                    <td class="secondTd"><%= gender.genderName %></td>
                                    <td class="thirdTd"><%= gender.moviesAmount %></td>
                                    <td class="fourthTd">
                                        <div class="actionButtons">
                                            <button><img src="/images/edit.png" alt="Editar" class="editButton"></button>
                                            <button><img src="/images/delete.png" alt="Excluir" class="removeButton"></button>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
