<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gêneros</title>
        <link rel="stylesheet" href="/stylesheets/admin/genres.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="headerContent">
                    <div class="title">
                        <img src="/images/logo.png" alt="logo">
                        <h1>MovieMania</h1>
                    </div>
        
                    <h2>Dashboard Administrativo</h2>
                </div>

                <div class="headerMenus">
                    <div class="menus">
                        <a href="">Estatísticas</a>
                        <a href="">Usuários</a>
                        <a href="" class="picked">Gêneros</a>
                        <a href="">Filmes</a>
                    </div>

                    <div class="line"></div>
                </div>
            </div>

            <!-- <div class="genres">
                <h2>Gêneros</h2>

                <div class="genresTableDiv">
                    <table id="genresTable">
                        <thead>
                            <tr>
                                <th className="genderId">Id</th>
                                <th className="genderName">Nome</th>
                                <th className="moviesAmount">Filmes</th>
                                <th className="action">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% genres.forEach(gender => { %>
                                <tr>
                                    <td class="teste1"><%= gender.ID %></td> // trocar o .id
                                    <td class="teste2"><%= gender.NOME %></td> // trocar o .nome
                                    <td class="teste3"><%= gender.QUANTIDADE-FILMES %></td> // trocar .quantidade-filmes
                                    <td class="teste4">
                                        <button>Atualizar</button>
                                        <button>Excluir</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody> 
                    </table>
                </div>
            </div> -->
        </div>
    </body>
</html>
