<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login do Administrador</title>
        <link rel="stylesheet" href="/stylesheets/admin/login.css" />
    </head>
    <body>
        <div class="app">
            <div class="title">
                <img src="/images/logo.png" alt="logo">
                <h1><%= title %></h1>
            </div>
    
            <div class="login">
                <h2>Entrar como administrador</h2>
    
                <form action="/admin/loginadmin" method="POST">
                    <div class="inputLayout">
                        <div class="inputContainer">
                            <div class="emailInput">
                                <input type="text" required id="email" name="email" autocomplete="off">
                                <label class="labelline" for="email">Email</label>
                            </div>
    
                            <div class="passwordInput">
                                <input type="password" required id="password" name="password" autocomplete="off">
                                <label class="labelline" for="password">Senha</label>
                            </div>
                        </div>
    
                        <button class="submitButton" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
