<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Filmes</title>
        <link rel="stylesheet" href="/stylesheets/admin/movies.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="headerContent">
                    <div class="title">
                        <img src="/images/logo.png" alt="logo">
                        <h1>MovieMania</h1>
                    </div>
        
                    <h2>Dashboard Administrativo</h2>
                </div>

                <div class="headerMenus">
                    <div class="menus">
                        <a href="">Estatísticas</a>
                        <a href="">Usuários</a>
                        <a href="/admin/genres">Gêneros</a>
                        <a href="" class="picked">Filmes</a>
                    </div>

                    <div class="line"></div>
                </div>
            </div>

            <div class="movies">
                <div class="moviesTitle">
                    <h2>Filmes</h2>

                    <a href="/admin/newmovie" class="addButton">Novo filme</a>
                </div>

                <div class="moviesTableDiv">
                    <table id="moviesTable">
                        <thead>
                            <tr>
                                <th class="movieId">Id</th>
                                <th class="movieName">Nome</th>
                                <th class="gender">Gênero</th>
                                <th class="action">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% movies.forEach(movie => { %>
                                <tr>
                                    <td class="firstTd"><%= movie.movieid %></td>
                                    <td class="secondTd"><%= movie.movietitle %></td>
                                    <td class="thirdTd"><%= movie.gendername %></td>
                                    <td class="fourthTd">
                                        <div class="actionButtons">
                                            <a href="">
                                                <img src="/images/edit.png" alt="Editar" class="editButton">
                                            </a>
                                            
                                            <a href="" onclick="return confirm('Deseja mesmo deletar o filme?');">
                                                <img src="/images/delete.png" alt="Excluir" class="removeButton">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
