<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gêneros</title>
        <link rel="stylesheet" href="/stylesheets/admin/newgender.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <img src="/images/logo.png" alt="logo">
                <h1>MovieMania</h1>
            </div>

            <div class="newGender">
                <h2>Novo gênero</h2>
    
                <form action="/admin/newgender" method="POST">
                    <div class="inputContainer">
                        <div class="nameInput">
                            <input type="text" required id="name" name="name" autocomplete="off">
                            <label class="labelline" for="name">Nome</label>
                        </div>

                        <div class="actionsButtons">
                            <button class="cancelButton" type="button" onclick="window.history.back()">Voltar</button>
    
                            <button class="submitButton" type="submit">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
