<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>MovieMania</title>
        <link rel="stylesheet" href="/stylesheets/home.css" />
    </head>
    <body>
        <div class="app">
            <div class="header">
                <div class="title">
                    <img src="/images/logo.png" alt="logo">
                    <h1>MovieMania</h1>
                </div>

                <div class="profileInfos">
                    <img class="userSvg" src="/svg/user.svg" alt="user">
                    <p>Olá, <strong><%= profileName %></strong></p>
                </div>
            </div>

            <div class="mainMovie">
                <img class="mainImage" src="/images/main.jpg">
                <h1>home</h1>

            </div>
        </div>
    </body>
</html>