<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/password.css" />
</head>
<body>
    <header>
        <div class="title">
            <img src="/images/logo.png" alt="logo">
            <h1><%= title %></h1>
        </div>

        <div class="line"></div>
    </header>

    <div class="app">
        <div class="infos">
            <h4>Passo 2 de 3</h4>
    
            <div class="finishTitle">
                <h2>Termine configurar sua conta</h2>
            </div>
    
            <img class="stepper" src="/images/stepper2.png" alt="">
    
            <div class="emailLogged">
                <p>
                    Você está cadastrando o e-mail:
                    <span>gmail@gmail.com</span>
                </p>
            </div>
        </div>

        <div class="passwordLogon">
            <form action="/passwordlogon" method="POST">
                <div class="inputLayout">
                    <div class="inputContainer">
                        <div class="newUsernameInput">
                            <input type="text" required id="newUsername" name="newUsername" autocomplete="off">
                            <label class="labelline" for="newUsername">Insira seu nome de usuário</label>
                        </div>
        
                        <div class="newPhoneInput">
                            <input type="text" required id="newPhone" name="newPhone" autocomplete="off">
                            <label class="labelline" for="newPhone">Insira seu número de telefone</label>
                        </div>
        
                        <div class="newPasswordInput">
                            <input type="text" required id="newPassword" name="newPassword" autocomplete="off">
                            <label class="labelline" for="newPassword">Insira sua senha</label>
                        </div>
                    </div>
        
                    <button class="submitButton" type="submit">Próximo passo</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>