@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    font-family: "Open Sans", sans-serif;
    user-select: none;
}

:root {
    font-size: 62.5%;

    --black: hsl(0, 0%, 0%);
    --black-lighter:hsla(0, 0.00%, 0.00%, 0.20);
    --white: hsla(0, 0%, 100%);
    --soft-white: hsla(0, 0%, 100%, 0.5);
    --gray-bg: hsl(0, 4%, 9%);
    --gray-lighter: hsl(0, 1.90%, 58.00%);
    --gray-button: hsl(0, 12.80%, 92.40%);
    --gray-button-darker: hsl(0, 5.60%, 85.90%);
    --input-border: hsla(0, 0%, 100%, 0.20);
    --input-border-lighter: hsla(0, 0%, 100%, 0.30);
    --red: hsl(0, 58%, 52%);
    --red-lighter: hsl(0, 63%, 58%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.app {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header > h1 {
    color: var(--white);
    font-size: 2.8rem;
}

.header > img {
    max-width: 8%;
}

.profilesDiv {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.intro > h2 {
    font-size: 3rem;
}

.contrast {
    color: var(--red);
}

.intro > h3 {
    font-size: 2.4rem;
}

.profiles {
    display: flex;
    gap: 3rem;
}

.profiles > p {
    font-size: 1.8rem;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile > a > img {
    width: 14rem;
}

.profile > a:hover {
    opacity: 0.7;
    transition: 0.2s ease;
}

.profile > a > h3 {
    color: var(--white);
    list-style: none;
    text-decoration: none;
    font-size: 1.4rem;
}